@media screen and (max-width: 375px) {
  .rooms-section {
    display: none;
  }

  .rooms-section-mobile {
    box-sizing: border-box;
    width: 100%;
    padding: 0 18px;
    margin-top: 50px;
    position: relative;
    z-index: 10;
  }

  .rooms-section-mobile__h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 24px;
  }

  .rooms-section-mobile__img {
    padding: 14px;
    box-sizing: border-box;
    width: 100%;
    height: 242px;
    background-image: url(../img/img1.svg);
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rooms-section-mobile__img__arrow-left {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E3B873;
  }

  .rooms-section-mobile__img__arrow-right {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E3B873;
  }
}